.input {
  padding: 5px;
}

.input:focus {
  outline: none;
  border: 2px solid #ffe799;
}

.superInput {
  border: 2px solid lightskyblue;
}

.errorInput {
  background: lightpink;
  border: 2px solid red;
}

.error {
  color: red;
  height: 20px;
}
