.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkbox:checked {
  appearance: none;
  background-color: #335533;
}

.checkbox:focus {
  outline: 1px solid #99ff99;
}

.spanClassName {
}
